/* .navbar-nav{
	position: relative;
	left: 1200px;
}
*/

.loader_bg{
	position: fixed;
	z-index: 999999;
	background: #fff;
	width: 100%;
	height: 100%;
}

.loader{
	border: 0 solid transparent;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
	top: calc(50vh - 75px);
	left: calc(50vw - 75px);
}

.loader:before, .loader:after{
	content: '';
	border: 1em solid #050A7F/* #ff5733 */;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	animation: loader 2.5s linear infinite;
	opacity: 0;
}

.loader: before{
	animation-delay: .5s;
}
@keyframes loader{
		0%{
			transform: scale(0);
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		100%{
			transform: scale(1);
			opacity: 0;
		}
}

.nav-item{
	font-weight: 500;
}

.col-md-3{
	/*background-image: url("left1.jfif"); */ 
	position: relative;
	top:100px;
	background: #212529;  
	height:430px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 5px 5px 20px rgba(0,0,255,0.7);
}

#content{
	color:#fff;
	padding-top: 50px;
}

.col-md-9{
	position: relative;
	top:100px;
	/* background: #fff;*/
	height:430px ;
	background-image: url("back1.jpg");
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; 
	box-shadow: 5px 5px 20px rgba(0,0,255,0.7);
}

#check{
	background: #212529;
	height: 300px;
	width: 500px;
	position: relative;
	top:80px;
	left:500px;
	color:#fff;
}

#used{
	position: relative;
	left:192px;
}


#end{
	display:block;
	background: #313131;
	position: absolute;
	bottom:0px;
	width:100%;
}

footer a{
	text-decoration: none;
	color:#fff;
}

footer a:hover{
	color:#fff;
	text-decoration: none;
}

#log-in{
	padding-top: 10px;
}

#join{
	border:4px solid #ccffff;
}
